USE [master]
GO
/****** Object:  Database [M1]    Script Date: 05/19/2017 09:48:29 ******/
CREATE DATABASE [M1] ON  PRIMARY 
( NAME = N'M1', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\M1.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'M1_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL10_50.MSSQLSERVER\MSSQL\DATA\M1_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [M1].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [M1]
GO
/****** Object:  Table [dbo].[T_Users]    Script Date: 05/19/2017 09:48:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_Users](
	[Id] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[PN] [varchar](50) NULL,
	[Money] [int] NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_SaleMen]    Script Date: 05/19/2017 09:48:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_SaleMen](
	[Id] [varchar](50) NULL,
	[Password] [varchar](50) NULL,
	[PN] [varchar](50) NULL,
	[Benefits] [int] NULL,
	[Background] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_SaleItems]    Script Date: 05/19/2017 09:48:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_SaleItems](
	[Name] [varchar](50) NULL,
	[Price] [int] NULL,
	[Number] [int] NULL,
	[Class] [varchar](50) NULL,
	[SoldMan] [varchar](50) NULL,
	[GoodsId] [varchar](50) NULL,
	[GoodsImg] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_Comments]    Script Date: 05/19/2017 09:48:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_Comments](
	[Id] [varchar](50) NULL,
	[GoodsName] [varchar](50) NULL,
	[Text] [varchar](50) NULL,
	[SoldMan] [varchar](50) NULL,
	[GoodsId] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[T_Basket]    Script Date: 05/19/2017 09:48:30 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[T_Basket](
	[Id] [varchar](50) NULL,
	[ItemId1] [varchar](50) NULL,
	[ItemNum1] [int] NULL,
	[Itemprice] [int] NULL,
	[ItemName] [varchar](50) NULL,
	[SoldMan] [varchar](50) NULL
) ON [PRIMARY]
GO
SET ANSI_PADDING OFF
GO
